body{
  font-family: "Georgia", serif;
  margin: 0;
   background-image: url('azure sect.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;  
  background-size: cover;
  color: #202122;
}
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url('BG.jpg'); 
  background-repeat: no-repeat;
   background-attachment: fixed;  
  background-size: cover;
  color:  #caff00;
  padding: 19px;
  text-align: center;
  border-bottom: 2px solid #264d99;
}
header h1 {
  font-size: 2rem;
  letter-spacing: 1px;
}

sidebar {
  width: 220px;
  background-color: #111;
  position: fixed;
  top: 90px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding: 20px;
  border-right: 1px solid #ccc;
}
#sidebar h3 {
  margin-bottom: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
#sidebar a {
  display: block;
  color: #0645ad;
  text-decoration: none;
  margin: 8px 0;
  font-size: 0.95rem;
}
#sidebar a:hover {
  text-decoration: underline;
  color: #003366;
}

#content {
  margin-left: 240px;
  padding: 25px;
}
#content h2 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #caff00;
}
#content p {
  margin-bottom: 15px;
  color: #caff00;
}
.infobox {
  float: right;
  width: 260px;
  border: 1px solid #ccc;
  background: #111;
  padding: 12px;
  margin: 0 0 20px 20px;
  font-size: 90%;
}

infobox h3 {
  background: #e6e6e6;
  padding: 5px;
  margin: -12px -12px 10px -12px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

ul, ol {
  margin: 15px 0 15px 25px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0;
}
table, th, td {
  border: 1px solid #ccc;
}
th, td {
  padding: 8px;
  text-align: left;
}
th {
  background: #e6e6e6;
}

footer {
  background: #3366cc;
  color: #111;
  text-align: center;
  padding: 12px;
  margin-top: 40px;
  border-top: 4px solid #264d99;
}
references {
  font-size: 90%;
  background: #f9f9f9;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 20px;
}
.references ol {
  margin-left: 20px;
}

button {
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  background-color: #0000ff;
  color: #caff00 ;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}


